  .div1{
        position: relative;
        top: 100px;
        font-size: 10px;
    border: solid 1px;
    width: 90%;
    text-indent: 20px;
}
.next{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next2{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 50px;
    border-radius: 20px;
}
.next3{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next4{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next5{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next6{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next7{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next8{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next9{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next10{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}
.next15,.next14,.next13,.next12,.next11{
    position: relative;
    text-decoration: none;
    background-color: dodgerblue;
    padding: 15px 40px;
    color: white;
    top: 150px;
    border-radius: 20px;
}

